/* RESET */
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Chelsea Market', Arial, sans-serif;
  background-image: url("../../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* MAIN CONTAINER */
.LoginContainer {
  display: flex;
  height: 80vh;
  width: 700px; 
  height: 450px; 
  margin: auto; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  border: 5px solid rgb(255, 187, 69);
  border-radius: 2rem;
  box-shadow: 0 0 8px rgba(255, 187, 69, 0.6),
              0 0 20px rgba(255, 187, 69, 0.4),
              0 0 40px rgba(255, 187, 69, 0.2);
  overflow: hidden;  
}

/* LEFT SIDE */
.Left {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(62, 211, 196, 0.696);
  color: aliceblue;
}

/* LOGIN BOX */
.LoginBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.LoginBox h1{
    text-align: center;
    font-size: 46px
}
.LoginBox p {
  margin: 0;
}

.LoginBox input {
  padding: 10px;
  border-radius: 0.8rem;
  border: 1px solid #ccc;
  outline: none;
}

.LoginBox button {
  padding: 10px;
  border: none;
  background: rgb(0, 151, 154);
  color: white;
  cursor: pointer;
  border-radius: 0.8rem;
}

.LoginBox button:hover{
    background: rgb(0, 72, 74);
}

/* RIGHT SIDE */
.Right {
  flex: 4;
  display: flex;
}

/* BACKGROUND IMAGE */
.PhotoContainer {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/images/LoginPhoto.jpg");
  background-size: 300px 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.forms {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 768px) {
  .LoginContainer {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .Right {
    height: 200px;
  }
    .Left,
  .Right {
    flex: none;
    width: 100%;
  }

  .Right {
    height: 200px;
  }

  .LoginBox {
    width: 90%;
  }
  }

.CreateAcc a{
    float: right;
    font-size: 10px;
}
